body {
    margin: 0;
    background-color: #19223d;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: FoundryMonoline; /* Гарнитура шрифта */
    src: url(fonts/FoundryMonoline.otf); /* Путь к файлу со шрифтом */
}
h1 {
    font-family: FoundryMonoline, 'Comic Sans MS', cursive;
}

.button {
    left: 100%;
    top: 100%;
    margin-left: -90%;
    margin-top: -22%;
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.button img {
    width: 255px;
    height: 75px;
}

.plate-mobile-img {
    display: none;
}

.scene {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
}

.layer {
    position: absolute;
    left: -5%;
    top: 0;
    width: 110%;
    height: 100%;
}

video {
    position: absolute;
    width: 250px;
    z-index: -5;
    top: 100%;
    left: 100%;
    margin-left: -88%;
    margin-top:-108%;
    /*margin-top: 10%;*/
    /*left: 700px;*/
    /*top: 150px;*/
}

.layer-1 {
    background: url("img/object.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.layer-2 {
    background: url("img/metafan.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    height: 100%;
}

.content-row {
    height: 100%;
}

.text {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top:-125%;
    margin-left:-100%;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}

#small {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: 10px;
    margin-left:-40px;
    font-size: 37px;
}

h1 {
    font-family: FoundryMonoline, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #fd4a03 10%, #fbfa55 30%, #fbfa55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    filter: drop-shadow(0 0 15px #0f1d3a);
}

.plate {
    height: 100%;
}

.plate img {
    height: 650px;
    position:relative; /* берем за основу родителя */
    float:left; /* перемещаем вправо с обтеканием */
    left: 100%;
    margin-left: -60%;
    top:100%; /* опускаем вниз на высоту блока */
    margin-top:-120%;
}

.logo {
    left: 100%;
    top: 100%;
    margin-left: -91%;
    margin-top: -38%;
    position: absolute;
}

.logo img {
    width: 255px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1040px) {
    .text {
        margin-top:-150%;
        margin-left:-98%;
    }
    video {
        margin-top: -132%;
        margin-left: -92%;
        width: 310px;
    }
    .plate img {
        margin-top: -160%;
        margin-left: -103%;
        height: 950px;
    }
}
@media (max-height: 870px) {
    .text {
        margin-top:-140%;
        margin-left:-98%;
    }
    video {
        margin-top: -132%;
        margin-left: -92%;
        width: 310px;
    }
    .plate img {
        margin-top: -147%;
        margin-left: -81%;
        height: 800px;
    }
}
@media (max-height: 800px) {
    .text {
        margin-top:-120%;
        margin-left:-98%;
    }
    video {
        margin-top: -112%;
        margin-left: -92%;
        width: 310px;
    }
    .plate img {
        margin-top: -127%;
        margin-left: -81%;
        height: 800px;
    }
    .logo {
        margin-top: -35%;
        margin-left: -90%;
    }
}
@media (max-width: 1200px) {

    .button {
        margin-left: -91%;
        margin-top: -20%;
    }
    .text {
        margin-top:-140%;
        margin-left:-105%;
    }
    video {
        margin-top: -122%;
        margin-left: -86%;
        width: 220px;
    }
    .plate img {
        margin-top: -140%;
        margin-left: -76%;
        height: 650px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
    .logo {
        margin-left: -93%;
        margin-top: -60%;
    }
    .button {
        margin-left: -93%;
        margin-top: -40%;
    }
    .text {
        margin-top:-180%;
        margin-left:-110%;
    }
    #small {
        margin-left: -35px;
        font-size: 33px;
    }
    video {
        margin-top: -158%;
        margin-left: -89%;
        width: 220px;
    }
    .plate img {
        margin-top: -195%;
        margin-left: -110%;
        height: 650px;
    }
}

/*@media (max-height: 700px) {*/
    /*video {*/
        /*margin-top: -110%;*/
    /*}*/
    /*.text {*/
        /*margin-top:-120%;*/
        /*margin-left:-102%;*/
    /*}*/
/*}*/

@media (max-height: 700px) and (min-width: 1200px) {
    video {
        margin-top: -110%;
    }
    .text {
        margin-top:-112%;
        margin-left:-100%;
    }
}

/*@media (max-height: 669px) {*/
    /*video {*/
        /*margin-top: -110%;*/
    /*}*/
    /*.text {*/
        /*margin-top:-125%;*/
        /*margin-left:-102%;*/
    /*}*/
/*}*/

@media (max-height: 669px) and (min-width: 1200px) {
    video {
        margin-top: -110%;
    }
    .text {
        margin-top:-112%;
        margin-left:-100%;
    }
}

/*@media (max-height: 640px) {*/
    /*.text {*/
        /*margin-top:-125%;*/
        /*margin-left:-102%;*/
    /*}*/
/*}*/

@media (max-height: 640px) and (min-width: 1200px) {
    video {
        margin-top: -110%;
    }
    .text {
        margin-top:-112%;
        margin-left:-100%;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 767px) {
    body {
        background-color: #0e1d3a;
    }
    .logo {
        margin-left: -100%;
        margin-top: -80%;
    }
    .button {
        margin-left: -100%;
        margin-top: -50%;
    }
    .text {
        margin-top:-250%;
        margin-left:-125%;
    }
    #small {
        margin-left: -25px;
        font-size: 33px;
    }
    video {
        margin-top: -213%;
        margin-left: -93%;
    }
    .plate img {
        margin-top: -270%;
        margin-left: -160%;
    }
}

@media (max-width: 690px) {
    .text h1 {
        font-size: 40px;
    }
    .text {
        margin-top:-237%;
        margin-left:-113%;
    }
    #small {
        margin-left: -20px;
        font-size: 26px;
    }
}
@media (max-width: 667px){
    .plate img {
        height: 650px;
    }
}

@media (min-width: 991px) and (min-height: 1224px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 45px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 60px;
    }
    .text {
        margin-top:-240%;
        margin-left:-115%;
    }
    video {
        width: 450px;
        margin-top: -230%;
        margin-left: -108%;
    }
    .logo img {
        width: 400px;
    }
    .logo {
        margin-top: -80%;
        margin-left: -105%;
    }
    .button img {
        width: 400px;
        height: 110px;
    }
    .button {
        margin-top: -60%;
        margin-left: -105%;
    }
    .plate img {
        margin-top: -270%;
        margin-left: -180%;
        height: 1250px;
    }
}

@media (max-width: 1200px) and (min-height: 740px) and (max-height: 1000px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 45px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 60px;
    }
    .text {
        margin-top:-145%;
        margin-left:-120%;
    }
    video {
        width: 300px;
        margin-top: -140%;
        margin-left: -103%;
    }
    .logo img {
        width: 330px;
    }
    .logo {
        margin-top: -55%;
        margin-left: -107%;
    }
    .button img {
        width: 330px;
        height: 95px;
    }
    .button {
        margin-top: -35%;
        margin-left: -107%;
    }
    .plate img {
        margin-top: -165%;
        margin-left: -110%;
        height: 800px;
    }
}

@media (min-width: 1200px) and (min-height: 1000px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 45px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 60px;
    }
    .text {
        margin-top:-220%;
        margin-left:-110%;
    }
    video {
        width: 500px;
        margin-top: -210%;
        margin-left: -108%;
    }
    .logo img {
        width: 400px;
    }
    .logo {
        margin-top: -80%;
        margin-left: -105%;
    }
    .button img {
        width: 400px;
        height: 110px;
    }
    .button {
        margin-top: -60%;
        margin-left: -105%;
    }
    .plate img {
        margin-top: -230%;
        margin-left: -150%;
        height: 1250px;
    }
}


@media (min-width: 1200px) and (min-height: 950px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 45px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 60px;
    }
    .text {
        margin-top:-170%;
        margin-left:-110%;
    }
    video {
        width: 500px;
        margin-top: -170%;
        margin-left: -108%;
    }
    .logo img {
        width: 400px;
    }
    .logo {
        margin-top: -45%;
        margin-left: -100%;
    }
    .button img {
        width: 400px;
        height: 110px;
    }
    .button {
        margin-top: -30%;
        margin-left: -100%;
    }
    .plate img {
        margin-top: -190%;
        margin-left: -150%;
        height: 1250px;
    }
}



@media (min-width: 1200px) and (min-height: 1000px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 45px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 60px;
    }
    .text {
        margin-top:-175%;
        margin-left:-110%;
    }
    video {
        width: 400px;
        margin-top: -170%;
        margin-left: -102%;
    }
    .logo img {
        width: 400px;
    }
    .logo {
        margin-top: -60%;
        margin-left: -105%;
    }
    .button img {
        width: 400px;
        height: 110px;
    }
    .button {
        margin-top: -40%;
        margin-left: -105%;
    }
    .plate img {
        margin-top: -190%;
        margin-left: -120%;
        height: 1050px;
    }
}

/* ipad*/
@media (max-width: 991px) and (min-height: 1024px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 35px;
        margin-left: -35px;
    }
    .text h1 {
        font-size: 48px;
    }
    .text {
        margin-top:-250%;
        margin-left:-108%;
    }
    video {
        width: 300px;
        margin-top: -230%;
        margin-left: -96%;
    }
    .logo img {
        width: 250px;
    }
    .logo {
        margin-top: -95%;
        margin-left: -90%;
    }
    .button img {
        width: 320px;
        height: 90px;
    }
    .button {
        margin-top: -70%;
        margin-left: -100%;
    }
    .plate img {
        margin-top: -300%;
        margin-left: -190%;
        height: 1000px;
    }
}

@media (max-width: 736px) and (max-height: 414px) {
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 18px;
        margin-left: -5px;
    }
    .text h1 {
        font-size: 27px;
    }
    .text {
        margin-top:-130%;
        margin-left:-100%;
    }
    video {
        width: 160px;
        margin-top: -130%;
        margin-left: -86%;
    }
    .logo img {
        width: 200px;
    }
    .logo {
        margin-top: -53%;
        margin-left: -95%;
    }
    .button img {
        width: 200px;
        height: 55px;
    }
    .button {
        margin-top: -35%;
        margin-left: -95%;
    }
    .plate img {
        margin-top: -160%;
        margin-left: -80%;
        height: 400px;
    }
}

@media (min-width: 768px) and (max-height: 480px) and (max-width: 900px){
    body {
        background-color: #0e1d3a;
    }
    #small {
        font-size: 18px;
        margin-left: -5px;
    }
    .text h1 {
        font-size: 27px;
    }
    .text {
        margin-top:-100%;
        margin-left:-102%;
    }
    video {
        width: 180px;
        margin-top: -100%;
        margin-left: -96%;
    }
    .logo img {
        width: 200px;
    }
    .logo {
        margin-top: -33%;
        margin-left: -100%;
    }
    .button img {
        width: 200px;
        height: 45px;
    }
    .button {
        margin-top: -20%;
        margin-left: -100%;
    }
    .plate img {
        margin-top: -120%;
        margin-left: -75%;
        height: 450px;
    }
}



/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .button img {
        width: 255px;
        height: 60px;
    }
    video {
        width: 220px;
    }
    .logo img {
        width: 225px;
    }

    .logo {
        margin-left: -121%;
        margin-top: -105%;
    }

    .button {
        margin-left: -125%;
        margin-top: -78%;
    }
    .text {
        margin-top:-250%;
        margin-left:-140%;
    }
    #small {
        font-size: 26px;
        margin-left: -5px;
    }
    .plate-img {
        display: none;
    }

    .plate-mobile-img {
        display: block;
    }

    video {
        margin-top: -228%;
        margin-left: -115%;;
    }
    .plate img {
        height: 650px;
        margin-top: -250%;
        margin-left: -135%;
    }

}


@media (max-width: 568px) and (min-height: 320px) {
    #small {
        font-size: 18px;
        margin-left: -5px;
    }
    .text h1 {
        font-size: 27px;
    }
    .text {
        margin-top:-110%;
        margin-left:-112%;
    }
    video {
        width: 110px;
        margin-top: -100%;
        margin-left: -93%;
    }
    .logo img {
        width: 160px;
    }
    .logo {
        margin-top: -43%;
        margin-left: -103%;
    }
    .button img {
        width: 160px;
        height: 45px;
    }
    .button {
        margin-top: -28%;
        margin-left: -103%;
    }
    .plate img {
        margin-top: -120%;
        margin-left: -65%;
        height: 400px;
    }
}


@media (max-width: 550px) {
    .plate img {
        height: 650px;
    }
    .logo {
        margin-left: -102%;
        margin-top: -95%;
    }
    .button {
        margin-left: -108%;
        margin-top: -70%;
    }
    .text {
        margin-top: -230%;
        margin-left: -120%;
    }

    #small {
        font-size: 25px;
    }

    video {
        margin-top: -205%;
        margin-left: -99%;
    }

    .plate img {
        margin-top: -235%;
        margin-left: -120%;
    }

}


@media (max-width: 530px) {
    #small {
        font-size: 30px;
        margin-left: 0px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -260%;
        margin-left: -173%;
    }

    video {
        width: 220px;
        margin-top: -230%;
        margin-left: -129%;
    }

    .plate img {
        margin-top: -280%;
        margin-left: -168%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -100%;
        margin-left: -142%;
    }
    .button {
        margin-left: -160%;
        margin-top: -65%;
    }
    .button img {
        width: 300px;
        height: 80px;
    }

}



@media (max-width: 490px) {
    #small {
        font-size: 30px;
        margin-left: 0px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -260%;
        margin-left: -173%;
    }

    video {
        width: 220px;
        margin-top: -230%;
        margin-left: -129%;
    }

    .plate img {
        margin-top: -280%;
        margin-left: -168%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -100%;
        margin-left: -142%;
    }
    .button {
        margin-left: -160%;
        margin-top: -65%;
    }
    .button img {
        width: 300px;
        height: 80px;
    }
}


@media (max-width: 460px) {
    #small {
        font-size: 30px;
        margin-left: -18px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -295%;
        margin-left: -173%;
    }

    video {
        width: 220px;
        margin-top: -270%;
        margin-left: -135%;
    }

    .plate img {
        margin-top: -325%;
        margin-left: -188%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -120%;
        margin-left: -147%;
    }
    .button {
        margin-left: -165%;
        margin-top: -85%;
    }
    .button img {
        width: 300px;
        height: 80px;
    }
}


@media (max-width: 440px) {
    #small {
        font-size: 30px;
        margin-left: -18px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -310%;
        margin-left: -183%;
    }

    video {
        margin-top: -270%;
        margin-left: -120%;
    }

    .plate img {
        margin-top: -325%;
        margin-left: -188%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -120%;
        margin-left: -147%;
    }
    .button {
        margin-left: -165%;
        margin-top: -85%;
    }
    .button img {
        width: 300px;
        height: 80px;
    }
}


@media (max-width: 430px) {

    #small {
        font-size: 30px;
        margin-left: -18px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -310%;
        margin-left: -183%;
    }

    video {
        margin-top: -270%;
        margin-left: -120%;
    }

    .plate img {
        margin-top: -325%;
        margin-left: -188%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -120%;
        margin-left: -147%;
    }
    .button {
        margin-left: -165%;
        margin-top: -85%;
    }
    .button img {
        width: 300px;
        height: 80px;
    }
}


@media (max-width: 415px) {
    #small {
        font-size: 30px;
        margin-left: -18px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -305%;
        margin-left: -183%;
    }

    video {
        margin-top: -270%;
        margin-left: -120%;
    }

    .plate img {
        margin-top: -335%;
        margin-left: -188%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -120%;
        margin-left: -147%;
    }
    .button {
        margin-left: -178%;
        margin-top: -85%;
    }
    .button img {
        width: 330px;
        height: 90px;
    }

}

@media (max-width: 400px) {
    #small {
        font-size: 30px;
        margin-left: -18px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text {
        margin-top: -330%;
        margin-left: -183%;
    }

    video {
        margin-top: -290%;
        margin-left: -120%;
    }

    .plate img {
        margin-top: -355%;
        margin-left: -188%;
    }

    .logo img {
        width: 220px;
    }
    .logo {
        margin-top: -120%;
        margin-left: -147%;
    }
    .button {
        margin-left: -178%;
        margin-top: -85%;
    }
    .button img {
        width: 330px;
        height: 90px;
    }
}

@media (max-width: 380px) {
    .button img {
        width: 195px;
        height: 48px;
    }
    .button {
        margin-left: -160%;
        margin-top: -100%;
    }
    .button img{
        width: 250px;
        height: 70px;

    }
    .logo {
        margin-top: -131%;
        margin-left: -148%;
    }
    .logo img {
        height: 50px;
    }
    .text h1 {
        font-size: 40px;
    }
    .text {
        margin-left: -182%;
        margin-top: -310%;
    }

    #small {
        margin-left: 0;
        font-size: 25px;
    }


    video {
        width: 220px;
        margin-top: -290%;
        margin-left: -113%;
    }

    .plate img {
        height: 620px;
        margin-top: -348%;
        margin-left: -188%;
    }

}

@media (max-width: 360px) {
    .button img {
        width: 195px;
        height: 48px;
    }
    .button {
        margin-left: -160%;
        margin-top: -75%;
    }
    .button img{
        width: 250px;
        height: 70px;

    }
    .logo {
        margin-top: -110%;
        margin-left: -142%;
    }
    .logo img {
        width: 190px;
    }
    .text h1 {
        font-size: 40px;
    }
    .text {
        margin-left: -185%;
        margin-top: -325%;
    }

    #small {
        margin-left: -8px;
        font-size: 25px;
    }


    video {
        width: 220px;
        margin-top: -300%;
        margin-left: -113%;
    }

    .plate img {
        height: 620px;
        margin-top: -360%;
        margin-left: -208%;
    }

}

@media (max-width: 340px) {
    .button img {
        width: 195px;
        height: 48px;
    }
    .button {
        margin-left: -170%;
        margin-top: -75%;
    }
    .button img{
        width: 250px;
        height: 70px;

    }
    .logo {
        margin-top: -110%;
        margin-left: -152%;
    }
    .logo img {
        width: 190px;
    }
    .text h1 {
        font-size: 35px;
    }
    .text {
        margin-left: -183%;
        margin-top: -345%;
    }

    #small {
        margin-left: -5px;
        font-size: 22px;
    }


    video {
        width: 220px;
        margin-top: -300%;
        margin-left: -113%;
    }

    .plate img {
        height: 620px;
        margin-top: -370%;
        margin-left: -218%;
    }

}


.none {
    display: none;
}




